<aside id="navbar-example3" class="border border-info  fixBackgroundOnSideNav light flex-column align-items-stretch position-sticky top-0 left-0 sidebar">
    <a class="navbar-brand text-light m-3" href="#">Passport.js with MongoDB</a>

    <nav class="nav nav-pills flex-column ">
        <a class="nav-link text-light " href="#item-1">Getting Started</a>
        <nav class="nav nav-pills flex-column ">
            <a class="nav-link ms-3 my-1 text-light fixBackgroundOnSideNav" href="#item-1-1">Installing</a>
            <a class="nav-link ms-3 my-1 text-light fixBackgroundOnSideNav" href="#item-1-2">LocalStrategy() </a>
            <a class="nav-link ms-3 my-1 text-light fixBackgroundOnSideNav" href="#item-1-3">Configure LocalStrategy()</a>
        </nav>
        <a class="nav-link text-light fixBackgroundOnSideNav" href="#item-2">passport.authenticate()</a>
        <a class="nav-link text-light ms-3 my-1 fixBackgroundOnSideNav" href="#item-2-1">Middleware</a>
        <a class="nav-link text-light ms-3 my-1 fixBackgroundOnSideNav" href="#item-2-2">Middleware Implementation</a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link text-light fixBackgroundOnSideNav" href="#item-3-1">Security</a>
        </nav>
    </nav>
</aside>