<div class="position-absolute top-50 start-50 translate-middle">
  <div class="card text-center" style="width: 18rem">
    <div class="card-body bg-dark text-light">
      <% if(errorMessage !== '') { %>
      <div><%= errorMessage %></div>
      <% } %> <% if(error != '') { %>
      <div class="errMsg"><%= error%></div>
      <% } %> <% if(successMessage != '') { %>
      <div class="sucMsg"><%= successMessage%></div>
      <% } %>
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            name="email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
