<div class="position-absolute top-50 start-50 translate-middle bg-dark">
  <div class="card text-center border-info" style="width: 18rem">
    <div class="card-body bg-dark text-light">

      <% if(errorMessage != '') { %>
        <div class="errMsg"><%= errorMessage %></div>
        <% } %>
       <h1><span class="badge">Register</span></h1><br />
      <form action="/register" method="POST">
        <div class="mb-3">

          <label class="form-label"
          >Username</label>

          <input
            name="username"
            type="text"
            class="form-control"
          />
        </div>

          <label for="exampleInputEmail1" class="form-label"
            >Email address</label>
          <input
            name="email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          /> <br />

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input
              name="password"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
        
        
      </form>
    </div>
  </div>
</div>
