<html lang="en">
<%-include("./partials/head.ejs")%>
<body >
    <%-include("./partials/navbar.ejs")%>
    <% if(typeof user == 'undefined') {%> 
    <h1>401</h1>
    <span>you dont have access to this site</span>
    <% } %> 
    <%-include("./partials/footer.ejs")%>
</body>
</html>