<html lang="en">
    <%-include("./partials/head.ejs")%>
<body>
    <%-include("./partials/navbar.ejs")%>
    <div class="container-md">
        <%-include("./partials/loginForm.ejs")%>
    </div>
</body>
</html>