<html lang="en">
    <%-include("./partials/head.ejs")%>
<body class="bg-dark">
    <%-include("./partials/navbar.ejs")%>
    <div class="container-md">
        <%-include("./partials/registerForm.ejs")%>
        <%-include("./partials/footer.ejs")%>
    </div>
</body>
</html>