.fixBackgroundOnSideNav {
	background-color: #1a1b26 !important;
}

.errMsg {
	color: white;
	padding: 11px;
	text-align: center;
	background: linear-gradient(to right, #f00d0d, #db1890);
	border-radius: 30px;
	margin-bottom: 2%;
}

.sucMsg {
	color: white;
	padding: 11px;
	text-align: center;
	background: linear-gradient(to right, #27f00d, #18dbbb);
	border-radius: 30px;
	margin-bottom: 2%;
}

@media (max-width: 1250px) {
	.sidebar {
		display: none;
	}
	.index-footer {
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
